<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/">🤠 Wild West Forum</a>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New Post</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>